body{
	font-family: Arial, sans-serif;
	font-size: 0.9em;
}

header{
	background-color: #242424;
	height: 5vh;
	text-align: center;
}

div.wrap{
	margin: 0 auto;
	width: 60%;
}
div.titre{
	float: left;
}

div.rechercher{
	float: left;
	margin-left: 54%;
	line-height: 5vh;
}

div.connexion{
	float: right;
	width: 200px;
	line-height: 5vh;
	border-left: 1px solid #383838;
	border-right: 1px solid #383838;
}

div.log_register, a{
	color: #7e7e7e;
	text-decoration: none;
}


a.hover_white:hover{
	color: white;
}


h1{
	color: #57c5a0;
	font-size: 1.5em;
	line-height: 5vh;
}

nav{
    display: inline-block;
}

nav ul{
 	width: 180%;
	font-size: 1em;
}

nav ul li {
    display: inline-block;
    border-left: 1px solid rgba(126,126,126,0.5);
    height: 60px;
}

nav ul a.hover_white:hover {
    color: #57c5a0;
}

nav ul li:nth-child(6){
    border-right: 1px solid rgba(126,126,126,0.5);
}

.margin{
    margin: 0 20px;
}

nav ul li a.hover_white{
    color: #242424;
    line-height: 60px;
}

div.etoile, div.panier{
	float: right;
}

div.etoile{
	border-right: 1px solid rgba(126,126,126,0.5);
    border-left: 1px solid rgba(126,126,126,0.5);
    height: 60px;
    width: 90px;
}

div.panier{
	border-right: 1px solid rgba(126,126,126,0.5);
    height: 60px;
    width: 90px;
}



div.nbr_etoile{
    float: right;
    background-color: #adadad;
    color: #FFF;
    padding: 4px;
    border-radius: 4px;
    text-align: center;

}

div.nbr_panier{
    float: right;
    background-color: #57c5a0;
    color: #FFF;
    padding: 4px;
    border-radius: 4px;
    text-align: center;

}

div.alignement{
	margin: 20px auto;
	width: 45px;

}

/* Partie Slider */

div.slider{
	background-color: #eeece8;
	overflow: hidden;
}

div.photo_banniere{
	float: left;
}

div.infos_banniere{
	margin-left: 500px;
	padding: 50px;
}

div.prix{
	display: inline-block;
	font-weight: bold;
    color: #FFF;
    padding: 25px 10px;
    background-color: #57c5a0;
}

h2{
	font-size: 3em;
}

h3{
	font-size: 1.2em;
}

p{
	font-size: 1.2em;
}

div.vignettes_actions{
	margin-top: 20px;
}

div.vignettes_actions li{
    display: inline-block;
    background-color: #FFF;
    padding: 10px;
}

div.defilement{
	color: white;
	background-color: #2e2e2e;
}

div.rubrique_texte_barre{
	display: inline-block;
	text-align: center;
	margin-bottom: 25px;
}

p.txt_principal{
	color: #979797;
}

p.legende{
	color: #545454;
}

div.emplacement_barre{
	margin-top: 10px;
	margin-bottom: 10px;
}

div.emplacement_texte{
	width: 170px;
	color: #7e7e7e;
}

div.barre{
	height: 8px;
	border-right: 2px solid grey; 
	background-color: black;
}

.fa:hover{
	color: #57c5a0;
}

div.rubrique_texte_barre:hover > div.emplacement_barre .barre{
	background-color: #57c5a0;
}

.emplacement_texte:hover{
    cursor: pointer;
    color: white;
}


/*  ---------------------------- MENU VIGNETTE ----------------------- */
div.categorie{
	background-color: #242424;
}

div.blocs_categorie{
    display: flex;
    justify-content: center;
    font-family: 'open_sansregular';
}

div.container{
	margin: 0.7em;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 280px;
    height: 158px;
}

div.bloc1_vignette{
	background-image: url("../images/on_sale.png");
}

div.bloc2_vignette{
	background-image: url("../images/special_offers.png");
}

div.bloc3_vignette{
	background-image: url("../images/must_have.png");
}

div.infos_bloc_txt{
	padding: 20px;
    background-color: rgba(0,0,0,0.8);
    font-size: 1.2em;
    color: #FFF;
}

/* --------------------------------- CORPS AVEC LES PRODUITS ------------------- */

div.corps{
	background-color: #ebe7df;
}

div.entete{
	height: 50px;
}

div.bouton_show{
	float: right;
	margin-top: 30px;
	display: inline-block;
  	vertical-align: middle;
  	border: 1px solid #bcb5a7;
  	padding: 10px;
  	width: 60px;
}

h4{
	font-size: 1.4em;
	margin-top: 30px;
}

div.bloc_articles{
	height: 390px;
}

.bouton_show:hover{
	background-color: #57c5a0;
}

a.showall:hover{
	color: white;
}

div.articles_body{
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.article{
	text-align: center;
	background-color: white;
	margin: 1em;
	width: 300px;
	position: relative;
}


div.talon1, .talon2, .talon3{
	height: 250px;

}

div.nom_talon{
	border-top: 1px solid #c9c2b6;
	background-color: white;
	padding: 10px;
}

div.prix_talon{
	bottom: 0;
	font-weight: bold;
    color: #FFF;
    position: absolute;
    padding: 25px 10px;
    left: 10px;
    background-color: #57c5a0;
}

div.on_sale{
	top: 0;
	font-weight: bold;
    color: #FFF;
    position: absolute;
    padding: 25px 10px;
    right: 0;
    right: 10px;
    background-color: #242424;
}

div.out_of_stock{
	top: 0;
	font-weight: bold;
    color: #FFF;
    position: absolute;
    padding: 25px 10px;
    right: 0;
    right: 10px;
    background-color: #f27e4b;
}

/* --------------------------------------- ESPACE BLOG -------------------------------- */

div.blog{
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
}

div.bloc1, div.bloc2 {
	background-color: #dfdbd4;
	float: left;
	padding: 15px;
	width: 200px;
	height: 240px;
	margin-right: 20px;
}


div.bloc3{
	background-color: #dfdbd4;
	float: left;
	width: 400px;
	padding: 15px;
	height: 240px;
}

h5{
	font-size: 1.2em;
	font-weight: bold;
}

p.txt_blog{
	margin-top: 10px;
	margin-bottom: 10px;
}
div.date_contenu{
	height: 70px;
}
div.date{
	float: left;
	font-weight: bold;
    color: #FFF;
    padding: 10px;
    text-align: center;
    background-color: #57c5a0;
}

div.contenu_date{
	float: left;
	margin-left: 20px;
	margin-top: 5px;
}

h6{
	font-size: 1.05em;
	font-weight: bold;
	margin-bottom: 3px;
}

/* -------------------------------------- WIDGET ----------------------------- */

div.widget_newsletter{
	background-color: #242424;
}

span.titre_widget{
	font-size: 1.05em;
	color: #7d7d7d;
	font-weight: bold;
}

div.widget_ensemble{
	padding: 50px;
	display: inline-block;
	width: 100%;
}

p.white{
	margin-top: 10px;
	font-style: italic;
	text-align: justify;
	font-size: 1em;
	color: #a4a4a4;
}

div.widget1, div.widget2, div.widget3{
	float: left;
	margin-right: 20px;
}

div.widget1{
	width: 30%;
}

div.widget2{
	width: 30%;
}

div.widget3{
	width: 33%;
}

span.user_twitter{
	color: #57c5a0;
}

p.tweet_date{
	margin-top: 5px;
	font-size: 1em;
	font-style: italic;
	color: white;
}

div.img_flickr{
	clear: both;
}

.flickr_l1 li, .flickr_l2 li{
    float: left;
    margin: 2px;
}

/* ------------------------------------------------- NEWSLETTER -------------------------------------------- */

hr.black{
	height: 1px;
  margin: -0.5em 0;
  padding: 0;
  color: #1c1c1c;
  background-color: #1c1c1c;
  border: 0;
}

div.form_reseaux{
	padding: 50px;
	display: inline-block;
	width: 100%;
}

div.formulaire{
	float: left;
	width: 50%;
}

input[type="text"]{
	width: 45%;
	height: 35px;
    background-color: #2e2e2e;
    border: none;
    color: #7d7d7d;
    font-style: italic;
    text-align: center;
    
}

button{
    cursor: pointer;
    border: none;
    background-color: #7d7d7d;
    height: 35px;
    width: 40px;
    color: #2e2e2e;
}

div.reseaux_sociaux{
	float: left;
	display: flex;
}

img.espace{
	margin-right: 10px;
}